#header-row {
    margin: 15px;
    height: 10%;
}

#workplace-row {
    height: 80%;
}

#button-row {
    height: 10%;
    align-items: center;
}

#header-row #platform-label {
    text-align: center;
}

.button-div {
    margin-top: 20px;
}

.navbar {
    display: block;
    width: 100%;
}

.navbar-brand {
    padding: 10px;
    padding-left: 15px;
}

#navbar-brand {
    width: auto;
    height: auto;
}

#task-text {
    padding: 10px;
    margin-left: 3%;
    margin-right: 3%;
}

.page_title {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

#human-needs-image {
    width: 100%;
}


#select-paths-dropdown {
    display: block;
}

.select_paths {
    margin: 20px;
    text-align: center;
    padding: 5px;
}

#select-paths-dropdown {
    width: 90%;
}

#select-paths-concept-to-concept {
    width: 90%;
}

#svg_for_vis {
    width: 95%;
    height: 95%;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
  }
  
  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
  
  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }

  .link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 1px;
    stroke-width: 3px;
    cursor: pointer;
}

.new_line {
    stroke: yellow;
    stroke-opacity: .8;
    stroke-width: 6px;
}