{% extends "layout.html" %}

{% block header %}
    <nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd;">
        <span class="navbar-brand mb-0 h1">HAICOR</span>
    </nav>
    <h2 class="page_title"> Explanation of Terminology </h2>
    <div id="task-text">
        <h4>What is human needs?</h4>
        <p>Maslow's 5-tier model of human needs depicts how each type of human needs motivates our human to act on differnt purpose, 
        the below is thedepiction of the hierachical model (the left is the group of humans need at each level raised by Reiss):
        </p>

        <img id="human-needs-image" src={{img_source}}>

        <div style="text-align: center" class="button-div">
            <a class="btn btn-primary" href="{{url_for('commonsense_explanation')}}">Next</a>
        </div>
    </div>
{% endblock header %}