{% extends "layout.html" %}

{% block header %}
    <nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd;">
        <span class="navbar-brand mb-0 h1">HAICOR</span>
    </nav>
    <h2 class="page_title"> Explanation of Terminology </h2>
    <div id="task-text">
        <h4>What is human needs?</h4>
        <p>Maslow's 5-tier model of human needs depicts how each type of human needs motivates our human to act on differnt purpose, 
        the below is thedepiction of the hierachical model (the left is the group of humans need at each level raised by Reiss):
        </p>

        <img id="human-needs-image" src={{img_source}}>

        <p><strong>Examples</strong>
            <br>
            Tier 1: Jake is hungry --> food, Sarah is tired --> rest <br><br>
            Tier 2: Lana feels sick --> health, Rick is in debt --> savings, Jenna feels scared since the health system is collapsing --> order, 
            Han becomes alert when going through that district wiht high criminal rate --> safety <br><br>
            Tier 3: Tina is moved due to the rose given to her by her boyfriend --> romance, Jim is happy to become the member of badminton club --> belonging,
            Rudy read the story to his little daughter after a day-long work --> family, Jack is plesant to get know with new friends in this trip --> social contact <br><br>
            Tier 4: Michael and Paul are competing the leadership --> competition, John is ecstatic when winning the champion in the race --> honor/status,
            Tony is pround of his acclaimed artworks --> approval, Jack wants to become president so that no one in  company can oppose him bluntly --> power,
            William is respected since he is the founder of a famous company --> status <br><br>
            Tier 5: Tina decides to go to graduate school to explore this uncharted area --> curiosity, John likes doing meditation in Sunday afternoon --> serenity,
            The lawyer defends for the social justice --> idealism, Nick is eager to decide his own career --> independence</p>

        <div style="text-align: center" class="button-div">
            <a class="btn btn-primary" href="{{url_for('commonsense_explanation')}}">Next</a>
        </div>
    </div>
{% endblock header %}