{%extends "layout.html" %}
{% block header%}
<ul class="nav nav-pills nav-fill col-8">
    <li class="nav-item">
        <a class="nav-link active" href="#">Workplace</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Review Tutorial</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">FAQ</a>
    </li>
</ul>
<div id="platform-label" class="col-4">
    <strong>Human-AI co-reasoning platform</strong>
</div>
{%endblock header%}

{% block content %}
<div class="col-2">
    <div id="select-paths-dropdown" >
        <span><strong>Visualize top-N paths</strong></span>
        <div class="dropdown select_paths">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-path-selection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select top N paths
            </button>
            <div class="dropdown-menu" id= "select-path-dropdown-list" aria-labelledby="dropdownMenuButton-path-selection">
              <a class="dropdown-item" id="path-3" href="#">Top 3 paths</a>
              <a class="dropdown-item" id="path-5" href="#">Top 5 paths</a>
              <a class="dropdown-item" id="path-10" href="#">Top 10 paths</a>
            </div>
          </div>
    </div>
    <div id="select-paths-concept-to-concept">
        <span><strong>Visualize the path between two concepts</strong></span> <br>
        <div class="select_paths">
            <label for="concept1">Concept 1: </label>
            <input type="text" name="concept1"><br><br>
            <label for="concept2">Concept 2: </label>
            <input type="text" name="concept2"><br><br>
        </div>
    </div>
</div>
<div class="col-8" id="canvas" ondrop="drop(event)" >
    <svg id="svg_for_vis" class="border"></svg>
</div>
<div class="col-2" id="story_zone">
    <span>Story:</span>
    <p>Jon has a big math test in the morning.</p>
    <p><strong> decided he didn't need to study.</strong></p>
    <p>When he got to class, he felt confident.</p>
    <p>His teacher gave out the test and he started filling out answers.</p>
    <p>Jon was excited when he made an A.</p>
    <br>
    <p>'status', 'approval', 'tranquility', 'competition', 'health',
         'family', 'romance', 'food', 'indep', 'power', 'order', 'curiosity', 'serenity',
          'honor', 'belonging', 'contact', 'savings', 'idealism', 'rest'</p>
</div>
{% endblock content %}

{% block widget_extension %}
    <!-- Node Modal -->
    <div class="modal fade" id="NodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Modal-node-name">Node Name: </span>
                    </div>
                    <input type="text" id="node-name-input" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="Close-Node-Button" data-dismiss="modal">Close</button>
            <button type="button" id="Node-Save-Button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>

        <!-- Edge Modal -->
    <div class="modal fade" id="EdgeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Modal-edge-name">Edge Name: </span>
                    </div>
                    <input type="text" id="edge-name-input" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="Edge-Save-Button" class="btn btn-primary">Save changes</button>
            </div>
    </div>
{% endblock widget_extension %}