<!DOCTYPE html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/foundation.css" />
<link rel="stylesheet" href="../static/app.css" />
<link rel="stylesheet" href="../static/d3-context-menu.css" />
</head>
<body>
        <div id="RenameNodeModal" class="reveal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <h2 id="modalTitle">Rename Node</h2>
          <form id="RenameNodeForm">
            <div class="row">
              <div class="large-12 columns">
                <label>Node name
                  <input type="text" class="inputName" id='RenameNodeName' placeholder="node name" />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-8 columns">
                &nbsp;
              </div>
              <div class="large-4 columns">
                <a href="#" class="button info" data-close> Cancel</a>
                <a href="#" class="button success" data-close onclick="rename_node()"> Rename</a>
              </div>
            </div>
          </form>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

        <div id="CreateNodeModal" class="reveal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <h2 id="modalTitle">Create Node</h2>
          <form id="CreateNodeForm">
            <div class="row">
              <div class="large-12 columns">
                <label>Node name
                  <input type="text" class="inputName" id='CreateNodeName' placeholder="node name" />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-8 columns">
                &nbsp;
              </div>
              <div class="large-4 columns">
                <a href="#" class="button info" data-close> Cancel</a>
                <a href="#" class="button success" data-close onclick="create_node()">Create</a>
              </div>
            </div>
          </form>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

        <div id="tree-container"></div>

        <button onclick="console.log(tree_root)" style="width: 100%;">Export to console</button>

        <script src="https://d3js.org/d3.v3.js"></script>
        <script src="../static/dndTree.js"></script>
        <script src="../static/d3-context-menu.js"></script>
        <script src="../static/underscore-min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/fastclick.js"></script>
        <script src="../static/foundation.js"></script>
        <script>
                // for the first initialization
                $('document').ready(function(){
                    $(document).foundation();
                    $(document).on('opened', '[data-reveal]', function () {
                        var element = $(".inputName:visible").first();
                        element.focus(function(){
                            this.selectionStart = this.selectionEnd = this.value.length;
                        });
                        element.focus();
                    });
                    $('#RenameNodeForm').submit(function(e){
                            rename_node();
                            return false;
                    });
                    $('#CreateNodeForm').submit(function(e){
                            create_node();
                            return false;
                    });
                    var treeJSON = d3.json("../static/tree.json", draw_tree);
                });
        </script>
</body>
</html>